
/* Universal CCS styles */
body {
    background: #4FAF8D;
    font-family: fantasy;
    text-align: center;
    
}
h1 {
    text-align: center;
    border: ridge 5px #4FAF8D;
}

/* Nav Bar styles*/
.topNav {
    overflow: hidden;
    background-color: #f0c988;
    border: solid;
}
.topNav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 5px;
    text-decoration: none
}
.topNav a:hover {
    background-color: #ea6e4d;
    color: white;
}

/* Animal Nav Bar styles */
.animalNav {
    overflow: hidden;
    width: 20%;
    text-align: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.animalNav a {
    text-decoration: none;
}
.animalNav  li {
    color: black;
}
.animalNav li:hover {
    background-color: #ea6e4d;
    cursor: pointer;
}

/* Animal Info group styles */
.animalInfo {
    text-align: justify;
    
}
.animalInfo h4 {
    text-decoration: underline;
}
.animalInfo img {
    border: ridge 4px #ea6e4d;
}
